@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.body {
  font-family: "quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  max-width: 1440px;
  margin: 0px auto;
  align-items: center;
}

.flex {
  display: flex;
}

.orange-color {
  color: #fea301;
}

.turqouise-color {
  color: #05d4df;
}

.lavender-color {
  color: #5d58ef;
}

.sky-blue-color {
  color: #01acfd;
}

.button {
  align-items: center;
  justify-content: center;
}

.primary {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: #fea301;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}

.primary:hover {
  background-color: white;
  color: #fea301;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600px;
}

.secondary {
  width: 40px;
  height: 40px;
  display: none;
  border: none;
  background-color: white;
  font-size: 2rem;
  align-items: center;
  margin-top: 12px;
  font-weight: 600px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  justify-content: space-between;
}

.nav-bar-content li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-bar-content .nav-texts a {
  text-decoration: none;
}

.nav-texts {
  gap: 32px;
}

.school {
  font-size: 2rem;
  font-weight: 800;
}

.icon {
  align-items: center;
}

.marquee {
  background-color: #ffde21;
}

.banner {
  justify-content: space-between;
}

.banner-content {
  max-width: 640px;
}

.section-title {
  margin-top: 122px;
  font-size: 3.5rem;
  font-weight: bold;
}

.description {
  font-size: 1.25rem;
  font-weight: 600px;
}

#banner-image {
  width: 100%;
}

.banner-button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}

.banner-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.curriculum-cards {
  background-image: url(assets/bg.png);
}

.curriculum-title {
  font-size: 2.875rem;
  font-weight: 700;
  text-align: center;
}

.card-container {
  max-width: 1440px;
  justify-content: space-around;
  gap: 24px;
}

#card1,
#card2,
#card3,
#card3 {
  border-radius: 19px;
  text-align: center;
  padding: 53px 113px 55px 113px;
  align-content: center;
  margin-top: 80px;
}

#card1 {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

#card2 {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

#card3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700px;
}

.card-description {
  font-size: 1rem;
  color: rgb(128, 128, 128);
  line-height: 28.3px;
  font-weight: 500px;
}

#card-button1,
#card-button2,
#card-button3 {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 33px;
}

#card-button1 {
  color: rgb(100, 200, 255);
}
#card-button1:hover {
  background-color: rgb(100, 200, 255);
  color: white;
  border-radius: 5px;
}

#card-button3 {
  color: rgb(135, 0, 255);
}
#card-button3:hover {
  background-color: rgb(135, 0, 255);
  color: white;
  border-radius: 5px;
}
#card-button2 {
  color: rgb(240, 170, 0);
}
#card-button2:hover {
  background-color: rgb(240, 170, 0);
  color: white;
  border-radius: 5px;
}

.left-right-arrow {
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 655px;
  margin-right: 655px;
  gap: 11px;
}

.arrow-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgb(254, 163, 1);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 12px;
}

.arrow-button:hover {
  background-color: white;
  color: #fea301;
  font-weight: 700;
}

.story {
  background: url(assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  padding-bottom: 80px;
}

.stories-section-title {
  font-size: 2.875rem;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.left {
  gap: 20px;
  justify-content: space-evenly;
}

.left-story {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 540px;
  height: 630px;
}

.left-story img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.left-story .date {
  display: inline-block;
  background-color: #3cd8e8;
  border-radius: 20px;
  font-size: 0.85rem;
  margin-bottom: 16px;
  padding: 15px 20px 15px 20px;
  position: relative;
  top: -30px;
  transform: translateX(38px);
  color: white;
}

.left-title {
  text-align: left;
  padding: 10px 38px;
}

.left-story .left-description {
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 38px 20px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.right-story {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 301px;
}

.date2 {
  display: inline-block;
  background-color: #95b226;
  border-radius: 20px;
  font-size: 0.85rem;
  padding: 15px 20px 15px 20px;
  position: relative;
  top: -30px;
  transform: translateX(38px);
  color: white;
}

.date1 {
  display: inline-block;
  background-color: #5d58f0;
  border-radius: 20px;
  font-size: 0.85rem;
  padding: 15px 20px 15px 20px;
  position: relative;
  top: -30px;
  transform: translateX(38px);
  color: white;
}

.right img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.right-title {
  text-align: left;
  padding: 0px 38px 38px 38px;
  margin: 0px;
}

.right-story {
  width: 100%;
}

.story-button {
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.story-button-main {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}

.story-button-main:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 600px;
}

footer {
  background-color: rgb(1, 172, 253);
  color: white;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.info {
  padding-top: 120px;
  padding-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}

.info-title {
  align-items: center;
}

.info-logo {
  position: relative;
  top: -55px;
}

.info-heading {
  font-weight: 700px;
  font-size: 2.625rem;
}

.info-description {
  position: relative;
  left: -3.125rem;
  font-size: 1.25rem;
}

.about {
  margin-left: 172px;
  margin-bottom: 60px;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.about h4 {
  margin: 0px;
  font-weight: 00;
  font-size: 1.25rem;
}

.social-group {
  margin-bottom: 120px;
}

.social-group .title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}


